@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@1,9..40,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

    html {
        scroll-behavior: smooth;
    }
    body{

    --s: 164px; /* control the size*/
    --c1: #ebeec4;
    --c2: #b1d2a3;
    --_g: #0000 52%,var(--c1) 54% 57%,#0000 59%; 
    background: 
    radial-gradient(farthest-side at -33.33% 50%,var(--_g)) 0 calc(var(--s)/2),
    radial-gradient(farthest-side at 50% 133.33%,var(--_g)) calc(var(--s)/2) 0,
    radial-gradient(farthest-side at 133.33% 50%,var(--_g)),
    radial-gradient(farthest-side at 50% -33.33%,var(--_g)),
    var(--c2);
    background-size: calc(var(--s)/4.667) var(--s),var(--s) calc(var(--s)/4.667);
    margin: 0px;
    padding: 0px;
    }
    header{ /* TITULO */
        text-shadow: 5px 3px 8px rgba(216,255,182,0.59);
         p{
            width: 1500px;
            margin: 0 auto;
            z-index: 20;
            font-style: normal;
            text-align: center;
            font-size: 5vw;
            position: absolute;
            transition: transform 0.1s ease-in-out;
            left: 10%;
            top: 3%;
         }
         p:hover{
            transform: scale(1.1);     
            transition: transform 0.1s ease-in-out;
         }
        img{ /* COCODRILO CHISTOSO */
            width: 125px;
            height: auto;
            position:fixed;
            bottom: 20px;
            right: 25px; 
            z-index: 40;
            transition: 0.2s ease-in-out;
        }
        img:hover{
            transform: scale(1.2) rotate(10deg);     
            transition: transform 0.2s ease-in-out;
        }
        .fondo{
        z-index: 10;
        box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.75);
        width: auto;
        height: 200px;
        padding-top: 20px;
        background-image: url(img/flores.jpg); 
        background-size:auto;
        background-position: center;
        filter: blur(2px) brightness(90%) opacity(89%);
        background-color: rgb(49, 47, 47);
        margin-bottom: 0px;
        margin-top: 0px;
        }
    }
        .POPUP{
            h2{
                text-shadow: 5px 3px 8px rgba(216,255,182,0.59);
                color: #ffffff;
                text-align: center;
                font-size: 30px;
                font-family: "DM Sans", sans-serif;
                font-weight: 900;
                font-style:normal;
            }
            p{
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 100;
                font-style:normal;
                font-size: 16px;
                text-align: center;
            }
            button{
                text-align: center;
                font-family: "DM Sans", sans-serif;
                font-weight: 900;
                font-style: italic;
                background-color: #95bd7a;
                color: aliceblue;
                font-size: 15px;
                padding: 10px;
                width: 100px;
                margin-left: 40%;
                border-radius: 30px;
                box-shadow: 0px 10px 17px -5px rgba(0,0,0,0.75);
                -webkit-box-shadow: 0px 10px 17px -5px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 10px 17px -5px rgba(0,0,0,0.75);
                transition: transform 0.1s ease-in-out;

            }
            button:hover{
                transform: scale(1.1);
                transition: transform 0.1s ease-in-out;

            }
                        /* ESTO ES PARA EL POP UP DE COOKIES */
                            .overlay { /* ESTO OSCURECE LA PAGINA */
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.7); 
                        z-index: 999; 
                        display: none; 
                        }

                        .popup { /* ESTO ESPA EL POP UP */
                            height: 230px;
                        width: 500px;
                        position: fixed;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%); /* Center the pop-up */
                        background-color: rgb(79, 93, 88);
                        padding: 20px;
                        border-radius: 15px;
                        box-shadow: 0px 10px 27px 0px rgba(0,0,0,0.75);
                        -webkit-box-shadow: 0px 10px 27px 0px rgba(0,0,0,0.75);
                        -moz-box-shadow: 0px 10px 27px 0px rgba(0,0,0,0.75);
                        z-index: 1000; /* Ensure it's on top of the overlay */
                        display: none; /* Hidden by default */
                        }
        }
                    
    ol{ /* MENU */
        z-index: 30;
        right: 0px;
        top: 5px;
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-family: "DM Sans", sans-serif;
        font-weight: 900;
        font-style: italic;
        width: 170px;
        height: auto;
        padding-top: 17px;
        padding-bottom: 20px;
        padding-right: 20px;
        background-color: #587265;
        display: block;
        position:fixed;
        list-style-type: "✦​"; 
        border-radius: 30px 0px 0px 30px;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        a{
            border-radius: 10px;
            text-align: left;
            color: rgb(255, 255, 255);
            text-decoration: none;
            transition: 0.2s ease-in-out;
        }
        a:hover {
                padding: 0.5px;
                color:#ebeec4;
                transform: translateY(-5px);
                transition: color .20s, transform .20s ease-in-out;
            }
        li{
            padding-left: 8px;
        }

    }
    p{   
        color: rgb(255, 255, 255);
        font-size: 70px;
        font-family: "DM Sans", sans-serif;
        font-weight: 900;
        text-align: center;
        font-style: italic;
    }
    footer{
        width: auto;
        height: 300px;
        background: linear-gradient(180deg, rgba(61, 59, 59, 1) 0%, rgba(13, 11, 11, 1) 100%); 
        font-size: 20px;
        font-family: "DM Sans", sans-serif;
        font-weight: 400;
        text-align: center;
        font-style: normal;
        color: rgb(255, 255, 255);
        padding-top: 50px;   
        p1{
            opacity: 75%;
        }    
        img{
            width: auto;
            height: 30vh;
            margin-top: -27vh;
            margin-left: -70%;
            transition: transform 0.1s ease-in-out;

        }
            img:hover{
                transform: scale(1.1);
                transition: transform 0.1s ease-in-out;
            }

        .CORREO{
            margin-top: 80px;
            font-family: "DM Sans", sans-serif;
            font-weight: 400;
            font-size: 17px;
            padding: 15px;
            width: 500px;
            height: 30px;
            border-radius: 15px;
        }
        .ENVIAR{
            color: #587265;
            font-family: "Momo Trust Display", sans-serif;
            font-weight: 700;
            font-style: normal;
            text-align: center;
            display: block;
            margin-top: 2vh;
            margin-left: 99vh;
            border-radius: 15px;
            height: 30px;
            width: 100px;
            transition: 0.3s ease-in-out;
        }
            .ENVIAR:hover{
                background-color: #ebeec4;
                transform: scale(1.2);
                transition: 0.3s ease-in-out;
            }
        .correoicono{
            display: flex;
            margin-top: -132px;
            margin-left: 1250px;
        }
    }
    section{
        width: auto;
        height: auto;
        .SUBTITULO{
        font-size: 8vh;
        font-family: "DM Sans", sans-serif;
        font-weight: 500;
        text-align: center;
        font-style: italic;
        color: rgb(255, 255, 255);
        margin-bottom: -30px;
        text-shadow: 5px 3px 8px rgba(0, 0, 0, 0.59);
        }  
    }
    .cajita{
        padding-left: 35%;
        padding-bottom: 600px;
        display: block;
        width:350px;
        height: 200px;
        margin-top: 4%;
        }
    #cajita{
        padding-left: 35%;
        padding-bottom: 10px;
        display: block;
        margin-top: 18%;
        margin-left: 18%;
        img{
            margin-top: -30%;
            margin-left: -90%;
            width: 170%;
            height: auto;
        }
    }
        .CUADRO{
        animation: CUADROANIM 3s infinite ease-in-out; 
        }
        @keyframes CUADROANIM {
     0% {
        transform: translateY(0) rotate(0deg) scale(1);
        opacity: 100%;
    }
    50% {
        transform: translateY(150px) rotate(360deg) scale(2);
        opacity: 0%;
    }
    100% {
        transform: translateY(0px) rotate(0deg) scale(1);
        opacity: 100%;
    }
    }
    article{  /* AQUI VA CADA TEMA */
        font-size: 20px;
        font-family: "DM Sans", sans-serif;
        font-weight: 500;
        text-align: center;
        font-style: italic;
        color: rgb(255, 255, 255);
        width: 560px;
        height: 700px;
        background: #3d3b3b;
        background: linear-gradient(180deg, rgba(61, 59, 59, 1) 0%, rgba(13, 11, 11, 1) 100%);
        border-radius: 30px;
        margin-top:80px;
        box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.50);
        -webkit-box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.50);
        -moz-box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.50);
        z-index: 20;
        img{
            width: 500px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            display: block;
            border-radius: 30px;
            margin-top: 30px;
            max-height: 450px;
            object-fit: cover;
        }
            img:hover { /* PERMITE QUE LAS IMAGENES TENGAN UN LIGERO MOVIMIENTO */
                            transform: translateY(-10px); 
                            transition: transform 0.1s ease-in-out;
            }
        p{
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            font-style: normal;
            font-weight: 50;
            font-size: 12px;
            margin-left: 40px;
            margin-right: 40px;
        }
        a{
            color: rgb(174, 229, 172);
        }
    }
    .COLORES{ /* ESTO ES PARA EL ORDEN EN FORMA DE GRID DE LOS COLORCITOS */
        display: grid;
        padding: auto;
        grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
        margin-left: 50px;
        margin-right: auto;
        margin-bottom: 30px;
        .CUADRO1{
            .colorcitos{
                position: absolute;
                margin-top: 30px;
                margin-left: -5%;
                text-align: center;
                color: white;
            }
        border-radius: 30px;
        display: block;
        width:450px;
        height: 450px;
        background-color: #95bd7a;
        margin-top: 10%;
        margin-left: 10%;
        transition: 0.3s ease-in-out;
        }
        .CUADRO1:hover{
            transform: scale(1.1);
            transition: 0.3s ease-in-out;
        }
        .CUADRO2{
           .colorcitos{
                position: absolute;
                margin-top: 30px;
                margin-left: -7%;
                text-align: center;
                color: white;
            }
        border-radius: 30px;    
        display: block;
        width:450px;
        height: 450px;
        background-color: cornflowerblue;
        margin-top: 10%;
        margin-left: 10%;
        transition: 0.3s ease-in-out;
        }
        .CUADRO2:hover{
            transform: scale(1.1);
            transition: 0.3s ease-in-out;
        }
        .CUADRO3{
           .colorcitos{
                position: absolute;
                margin-top: 30px;
                margin-left: -7%;
                text-align: center;
                color: white;
            }
        border-radius: 30px;
        display: block;
        width:450px;
        height: 450px;
        background-color: rgba(37, 150, 190) ;
        margin-top: 10%;
        margin-left: 10%;
        transition: 0.3s ease-in-out;
        }
        .CUADRO3:hover{
            transform: scale(1.1);
            transition: 0.3s ease-in-out;
        }
        .CUADRO4{
           .colorcitos{
                position: absolute;
                margin-top: 30px;
                margin-left: -8%;
                text-align: center;
                color: white;
            }
        border-radius: 30px;
        display: block;
        width:450px;
        height: 450px;
        background-color: rgba(201, 255, 51, 0.5);
        margin-top: 10%;
        margin-left: 10%;
        transition: 0.3s ease-in-out;
        }
        .CUADRO4:hover{
            transform: scale(1.1);
            transition: 0.3s ease-in-out;
        }
        .CUADRO5{
           .colorcitos{
                position: absolute;
                margin-top: 30px;
                margin-left: -6%;
                text-align: center;
                color: white;
            }
        border-radius: 30px;
        display: block;
        width:450px;
        height: 450px;
        background-color: hsl(91, 50%, 64%);
        margin-top: 10%;
        margin-left: 10%;
        transition: 0.3s ease-in-out;
        }
        .CUADRO5:hover{
            transform: scale(1.1);
            transition: 0.3s ease-in-out;
        }
        .CUADRO6{
           .colorcitos{
                position: absolute;
                margin-top: 30px;
                margin-left: -9%;
                text-align: center;
                color: white;
            }
        border-radius: 30px;
        display: block;
        width:450px;
        height: 450px;
        background-color: hsla(175, 100%, 60%, 0.5);
        margin-top: 10%;
        margin-left: 10%;
        transition: 0.3s ease-in-out;
        }
        .CUADRO6:hover{
            transform: scale(1.1);
            transition: 0.3s ease-in-out;
        }
    }
    .NORMAL{  /*ESTA PARTE ES PARA LAS FORMS EN LA SEGUNDA PAGINA */
        text-align: center;
        width: 300px;
        height: 20px;
    }
    .OPINION{
        font-family: Arial, Helvetica, sans-serif;
        width: 450px;
        height: 120px;
    }
    .botondeenviar{
        margin: 10px;
        font-family: "DM Sans", sans-serif;
        font-weight: 500;
        color: white;
        background-color: #95bd7a;
        border-radius: 30px;
    }
    .articles{ /* ESTO ES PARA EL ORDEN EN FORMA DE GRID */
        display: grid;
        padding: auto;
        grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
        margin-left: 50px;
        margin-right: auto;
        margin-bottom: 30px;
    }
    .newarticles{ /* ESTO ES PARA EL ORDEN EN FORMA DE GRID */
        display: grid;
        padding: auto;
        grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
        margin-left: 50px;
        margin-right: auto;
        margin-bottom: 50px;
    }
     .newarticles2{ /* ESTO ES PARA EL ORDEN EN FORMA DE GRID */
        display: grid;
        padding: auto;
        grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
        margin-left: 50px;
        margin-right: auto;
        margin-bottom: 50px;
    }
    .IA{    /* AQUI VA EL TEMA DE LA IA */
        background-color: cadetblue;
        height: 850px;
        width: auto;
        font-size: 30px;
        font-family: "DM Sans", sans-serif;
        font-weight: 500;
        text-align: center;
        font-style: italic;
        color: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(61, 59, 59, 1) 0%, rgba(13, 11, 11, 1) 100%);
        border-radius: 30px;
        text-align: center;
        margin-top:80px;
        margin-bottom:80px;
        margin-left: 3px;
        margin-right: 3px;
        display: block;
        padding : 15px;
        box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.50);
        -webkit-box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.50);
        -moz-box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.50);
        p{
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            font-style: normal;
            font-weight: 50;
            font-size: 15px;
            padding-left: auto;
            padding-right: auto;
            margin-left: 150px;
            margin-right: 150px;
        }
        iframe{
            margin-top: 50px;
            padding-left: 70px;
            padding-right: 70px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    #TEMASNUEVOS{
        box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.75);
        color: rgb(255, 255, 255);
        font-size: 70px;
        font-family: "DM Sans", sans-serif;
        font-weight: 900;
        text-align: center;
        font-style: italic;
        text-shadow: 5px 3px 8px rgba(216,255,182,0.59);
        width: auto;
        height: 100px;
        background-image: url(img/flores2.jpg); 
        background-size:auto;
        background-position: center;
        background-color: rgb(49, 47, 47);
        margin-bottom: 0px;
        margin-top: 0px;
    }
    #TEMASNUEVOS2{
        box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.75);
        color: rgb(255, 255, 255);
        font-size: 70px;
        font-family: "DM Sans", sans-serif;
        font-weight: 900;
        text-align: center;
        font-style: italic;
        text-shadow: 5px 3px 8px rgba(216,255,182,0.59);
        width: auto;
        height: 100px;
        background-image: url(img/flores2.jpg); 
        background-size:auto;
        background-position: center;
        background-color: rgb(49, 47, 47);
        margin-bottom: 0px;
        margin-top: 0px;
    }